<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>POLLRA Signin</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../style/pollrapofolcss.css">
</head>
<body>
<div class="ui vertical segment" id="example1" style="width: 900px; margin: 0px 0px 30px 280px">
    <div class="left ui rail visible inverted left vertical sidebar menu" style="">
        <div>
            <div class="customsidebar">
                <a>guest</a>
                <div class="ui compact inverted menu" style="height: 15px; float: right;">
                    <a class="item" href="/user/signup">
                        <i class="address book outline icon"></i>
                        <span>회원가입</span>
                    </a>
                    <a class="item">
                        <i class="power off icon"></i>
                        <span>로그인</span>
                    </a>
                </div>
            </div>
            <div style="height: 120px;"></div>
            <div class="homelogo">POLLRA</div>
            <div style="height: 50px;"></div>
            <!--category-->
            <th:block th:if="${categories} == null">
                <i class="exclamation icon" style="color: #cfd0d2"></i>
                <span style="color: #8a8a8a;">카테고리 목록을 불러오는데 <br/>실패했습니다..</span>
            </th:block>
            <th:block th:if="${categories} != null">
                <th:block th:each="category : ${categories}">
                    <div class="item" >
                        <div class="header" th:text="${category.getCategoryName()}"></div>
                        <div class="menu">
                            <th:block th:each="subCategory : ${subCategories}">
                                <th:block th:if="${subCategory.getCategoryLevel() > 0}">

                                    <!--/*@thymesVar id="getCategoryName" type="com.pollra.web.function.category.domain.CategoryLatelyPostDAO"*/-->
                                    <a class="item"
                                       th:if="${category.getCategoryNum()}==${subCategory.getCategoryParent()}"
                                       th:text="${subCategory.getCategoryName()}"
                                       th:href="'/'+${pageInfo.prevPageNik}+'/'+${subCategory.getCategoryName()}+'/'+${subCategory.getCategoryNum()}"></a>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>

    <div class="ui right" style="padding: 80px 0px 40px 0px;">

    </div>
    <!-- Posting Page Start-->
    <div class="ui grid">
        <!-- Post title -->
        <div class="thirteen wide column">
            <h1>로그인</h1>
        </div>
    </div>
    <!--<div class="ui divider"></div>-->
    <div style="min-height: 300px">
        <!-- Post Content --><br/><br/>
        <form method="post" action="/user/signinok">
            <h2 class="ui center aligned icon header">
                <br/><br/>
                <div class="homelogo" style="margin-right: 100px">POLLRA</div>
                <br/>
                <br/>
                <br/>
                <div class="ui input focus">
                    <input name="user_id" type="text" placeholder="아이디 입력">
                </div>
                <br/>
                <br/>
                <div class="ui input focus">
                    <input name="user_password" type="password" placeholder="비밀번호 입력">
                </div>
                <br/>
            </h2>
            <button type="submit" class="fluid ui blue button">로그인</button>
            <br/>
        </form>
    </div>

</div>
<script>
    $('.ui.sticky')
        .sticky({
            context: '#example1'
        })
    ;
</script>
</body>
</html>