<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>POLLRA-회원가입</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <style>
        .customsidebar{
            overflow: hidden;
            position: fixed;
            top:0;
            right: 0;
            width: 300px;
            float: left;
        }
        .customsidebar div:hover{
            background-color: #6e6e6e;
            animation-duration: 0.5s;
        }
        .customsidebar a{
            font-size: 19px;
            font-weight: bold;
            color: #f1f1f1;
            letter-spacing: 4px;
            padding: 9px 0px 0px 20%;
        }
        .homelogo{
            font-size: 50px;
            margin-left: 10%;
            color:#1e77ba;
            font-weight: bold;
            user-select:none;
        }
        #signupinfo li{
            margin-bottom: 20px;
        }
        .subtextpollra{
            color: #1e77ba;
            margin-left: 10px;
        }

    </style>
</head>
<body>
<script>
    $('.ui.sticky')
        .sticky({
            context: '#example1'
        })
    ;
    function checks() {
        var hobbyCheck = false;
        var getMail = RegExp(/^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/);
        var getCheck = RegExp(/^[a-zA-Z0-9]{5,20}$/);
        var getName = RegExp(/^[가-힣]+$/);
        var fmt = RegExp(/^\d{6}[1234]\d{6}$/); //형식 설정
        var chk1 = document.getElementsByName("newsletter")[0].checked;

        //아이디 공백 확인
        if ($("#id").val() == "") {
            alert("아이디 입력바람");
            $("#id").focus();
            return false;
        }

        //아이디 유효성검사
        if (!getCheck.test($("#id").val())) {
            alert("형식에 맞게 입력해주세요");
            $("#id").val("");
            $("#id").focus();
            return false;
        }

        //이름 공백 검사
        if ($("#nik").val() == "") {
            alert("닉네임을 입력해주세요");
            $("#nik").focus();
            return false;
        }

        //이름 유효성 검사
        if (!getCheck.test($("#nik").val())) {
            alert("닉네임 형식에 맞게 입력해주세요")
            $("#nik").val("");
            $("#nik").focus();
            return false;
        }

        //비밀번호 공백 확인
        if ($("#password").val() == "") {
            alert("패스워드 입력바람");
            $("#password").focus();
            return false;
        }


        //아이디 비밀번호 같음 확인
        if ($("#id").val() == $("#password").val()) {
            alert("아이디와 비밀번호가 같습니다");
            $("#password").val("");
            $("#password").focus();
            return false;
        }

        //비밀번호 유효성검사
        if (!getCheck.test($("#password").val())) {
            alert("형식에 맞게 입력해주세요");
            $("#password").val("");
            $("#password").focus();
            return false;
        }

        //비밀번호 확인란 공백 확인
        if ($("#password_check").val() == "") {
            alert("패스워드 확인란을 입력해주세요");
            $("#password_check").focus();
            return false;
        }

        //비밀번호 서로확인
        if ($("#password").val() != $("#password_check").val()) {
            alert("비밀번호가 상이합니다");
            $("#password").val("");
            $("#password_check").val("");
            $("#password").focus();
            return false;
        }

        //이메일 공백 확인
        if ($("#email").val() == "") {
            alert("이메일을 입력해주세요");
            $("#email").focus();
            return false;
        }

        //이메일 유효성 검사
        if (!getMail.test($("#email").val())) {
            alert("이메일형식에 맞게 입력해주세요");
            $("#email").val("");
            $("#email").focus();
            return false;
        }
        //hobbyCheck 현재 false 상태

        if(!chk1) {
            alert("약관체크 해라 ㅇㅅㅇ");
            return false;
        }
    }



</script>
<div class="ui vertical segment" id="example1" style="width: 900px; margin: 0px 0px 30px 280px">
    <div class="left ui rail visible inverted left vertical sidebar menu" style="">
        <div>
            <div class="customsidebar">
                <a>guest</a>
                <div class="ui compact inverted menu" style="height: 15px; float: right;">
                    <a class="item" href="/user/signup">
                        <i class="address book outline icon"></i>
                        <span>회원가입</span>
                    </a>
                    <a class="item">
                        <i class="power off icon"></i>
                        <span>로그인</span>
                    </a>
                </div>
            </div>
            <div style="height: 120px;"></div>
            <div class="homelogo">POLLRA</div>
            <div style="height: 50px;"></div>
            <!--category-->
            <th:block th:if="${categories} == null">
                <i class="exclamation icon" style="color: #cfd0d2"></i>
                <span style="color: #8a8a8a;">카테고리 목록을 불러오는데 <br/>실패했습니다..</span>
            </th:block>
            <th:block th:if="${categories} != null">
                <th:block th:each="category : ${categories}">
                    <div class="item" >
                        <div class="header" th:text="${category.getCategoryName()}"></div>
                        <div class="menu">
                            <th:block th:each="subCategory : ${subCategories}">
                                <th:block th:if="${subCategory.getCategoryLevel() > 0}">

                                    <!--/*@thymesVar id="getCategoryName" type="com.pollra.web.function.category.domain.CategoryLatelyPostDAO"*/-->
                                    <a class="item"
                                       th:if="${category.getCategoryNum()}==${subCategory.getCategoryParent()}"
                                       th:text="${subCategory.getCategoryName()}"
                                       th:href="'/'+${pageInfo.prevPageNik}+'/'+${subCategory.getCategoryName()}+'/'+${subCategory.getCategoryNum()}"></a>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>

    <div class="ui right" style="padding: 80px 0px 40px 0px;">
        <th:block>SignUp</th:block>
    </div>
    <!-- Posting Page Start-->
    <div class="ui grid">
        <!-- Post title -->
        <div class="thirteen wide column">
            <h1>회원가입 페이지</h1>
        </div>
    </div>
    <div class="ui divider"></div>
    <div style="min-height: 300px">
        <!-- Post Content -->
        <form method="post" onsubmit="return checks()" action="signupok">
            <div class="ui segment">
                <h3>회원가입 약관</h3>
                <p>
                    본 사이트는 오직 테스트만을 위해 만들어진 사이트입니다.<br/>
                    가입은 가능하나 저장된 고객님의 정보가 유출될 가능성이 있습니다.<br/>
                    하여, 테스트목적이 아닌경우 가입을 제한합니다.<br/>
                    아래의 "테스트 목적의 가입입니다." 를 체크할 경우, 테스트목적의 가입으로 간주되며<br/>
                    사이트 관리자는 정보유출에 관련된 사건 일체에 법적 책임을 지지 않습니다.<br/>
                </p>
                <div class="ui divider"></div>
                <div class="ui slider checkbox">
                    <input type="checkbox" name="newsletter" id="newsletter" value="ok" onclick="">
                    <label>테스트 목적의 가입입니다.</label>
                </div>

            </div>
            <ul style="list-style: none;" id="signupinfo">
                <li>
                    <div class="ui left corner labeled input">
                        <input type="text" placeholder="아이디" name="id" id="id" value="pollra2">
                        <div class="ui left corner label">
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                    <span class="subtextpollra">5~20자의 영문, 혹은 숫자로 구성 ( 특수문자 X ) </span>
                </li>
                <li>
                    <div class="ui action input">
                        <input type="text" placeholder="닉네임" name="nik" id="nik" value="pollra2">
                        <button class="ui button">확인</button>
                    </div>
                    <span class="subtextpollra">5~20자의 영문, 혹은 숫자로 구성</span>
                </li>
                <li>
                    <div class="ui input" style="margin-right: 10px">
                        <input type="password" placeholder="비밀번호" name="password" id="password" value="12345a">
                    </div>
                    <div class="ui input">
                        <input type="password" placeholder="비밀번호 확인" id="password_check" value="12345a">
                    </div>
                    <span class="subtextpollra" >5~20자의 영문, 숫자, 특수기호로 구성</span>
                </li>
                <li>
                    <div class="ui input" style="margin-right: 10px">
                        <input type="email" placeholder="이메일" id="email" name="email" value="pollra32@gmail.com">
                    </div>
                    <span class="subtextpollra">이메일 형식으로 구성 <span style="color: #6e6e6e; font-size: 11px; margin-left: 8px"> 예 ) pollra32@naver.com</span></span>
                </li>
            </ul>
            <div class="ui buttons" style="float: right;">
                <button class="ui blue button" type="submit">회원가입</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>