    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <title>POLLRA</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
        <style>
            .customsidebar{
                overflow: hidden;
                position: fixed;
                top:0;
                right: 0;
                width: 300px;
                float: left;
            }
            .customsidebar div:hover{
                background-color: #6e6e6e;
                animation-duration: 0.5s;
            }
            .customsidebar a{
                font-size: 19px;
                font-weight: bold;
                color: #f1f1f1;
                letter-spacing: 4px;
                padding: 9px 0px 0px 20%;
            }
            .homelogo{
                font-size: 50px;
                margin-left: 10%;
                color:#1e77ba;
                font-weight: bold;
                user-select:none;
            }
        </style>
    </head>
    <body>
    <div class="ui vertical segment" id="example1" style="width: 900px; margin: 0px 0px 30px 280px">
        <div class="left ui rail visible inverted left vertical sidebar menu" style="">
            <div>
                <div class="customsidebar">
                    <a th:text="${userNik}">guest</a>
                    <div class="ui compact inverted menu" style="height: 15px; float: right;">
                        <th:block th:if="${userNik}==guest">
                            <a class="item" href="/user/signup">
                                <i class="address book outline icon"></i>
                                <span th:text="회원가입"></span>
                            </a>
                            <a class="item" href="/user/signin">
                                <i class="power off icon"></i>
                                <th:block th:text="로그인"></th:block>
                            </a>
                        </th:block>
                        <th:block th:unless="${userNik}==guest">
                            <a class="item">
                                <i class="address book outline icon"></i>
                                <span th:text="내정보"></span>
                            </a>
                            <a class="item" >

                                <i class="power off icon"></i>
                                <span>
                                <th:block th:text="로그아웃"></th:block>
                            </span>
                            </a>
                        </th:block>
                    </div>
                </div>
                <div style="height: 120px;"></div>
                <div class="homelogo">POLLRA</div>
                <div style="height: 50px;"></div>
                <!--category-->
                <th:block th:if="${categories} == null">
                    <i class="exclamation icon" style="color: #cfd0d2"></i>
                    <span style="color: #8a8a8a;">카테고리 목록을 불러오는데 <br/>실패했습니다..</span>
                </th:block>
                <th:block th:if="${categories} != null">
                    <th:block th:each="category : ${categories}">
                        <div class="item" >
                            <div class="header" th:text="${category.getCategoryName()}"></div>
                            <div class="menu">
                                <th:block th:each="subCategory : ${subCategories}">
                                    <th:block th:if="${subCategory.getCategoryLevel() > 0}">

                                    <!--/*@thymesVar id="getCategoryName" type="com.pollra.web.function.category.domain.CategoryLatelyPostDAO"*/-->
                                    <a class="item"
                                       th:if="${category.getCategoryNum()}==${subCategory.getCategoryParent()}"
                                       th:text="${subCategory.getCategoryName()}"
                                       th:href="'/'+${pageInfo.prevPageNik}+'/'+${subCategory.getCategoryName()}+'/'+${subCategory.getCategoryNum()}"></a>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>

        <div class="right ui rail">
            <div class="ui sticky" style="left: 1572px; width: 272px !important; height: 262.531px !important;">
                <div class="ui segment">
                    <div class="ui relaxed divided list">
                        <!--news-->
                        <div style="font-size: 20px; margin: 10px 0px -3px 0px">
                            POSTING LIST
                        </div>

                        <!-- 포스팅이 존재하지 않을때 -->
                        <th:block th:if="${postLists}==null">
                            <div class="item" >
                                <i class="exclamation icon"></i>
                                <th:block th:text="포스팅이 존재하지 않습니다"></th:block>
                            </div>
                        </th:block>
                        <th:block th:if="${postLists}!=null">
                                <div class="item" th:each="post : ${postLists}">
                                    <i class="large folder outline icon"></i>
                                    <div class="content">
                                        <a class="header" th:href="'/'+${pageInfo.prevPageNik}+'/'+${post.getCategoryName()}+'/'+${post.getPostNum()}">
                                            <p>
                                                <th:block th:text="${post.getCategoryName()}+'/'+${post.getPostTitle()}"></th:block>
                                            </p>
                                        </a>
                                        <div class="description">
                                            <p>

                                                <th:block th:text="${post.getPostDate()}">postDate</th:block>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    <div class="ui right" style="padding: 80px 0px 40px 0px;">
        <th:block th:if="${postLists}!=null" th:with="nowpath = ${postLists[0]}">
            <th:block>parentname > </th:block>

            <th:block th:text="${nowpath.getCategoryName()}"></th:block>
        </th:block>
        <th:block th:if="${postLists}==null">
            <i class="exclamation icon"></i>
            현재 경로를 불러오는데 실패했습니다.
        </th:block>
        <!--취미 > GAME-->
    </div>
    <!--<div>-->
    <!--<a style="font-size: 20px; color: #0ea432;">-->
    <!--<i class="exclamation icon"></i>-->
    <!--게시글이 존재하지 않습니다.<br><br>-->
    <!--가장 먼저 게시글을 작성해보세요!-->
    <!--<i class="edit outline icon"></i>-->
    <!--</a>-->
    <!--</div>-->

    <!-- Posting Page Start-->
    <th:block th:if="${postView}!=null" th:object="${postView}">
        <div class="ui grid">
            <!-- Post title -->
            <div class="thirteen wide column">
                <h1 th:text="*{getPostTitle()}"></h1>
                <p style="margin: -10px 0px -10px 0px">
                    <span th:text="${pageNik}"></span><span th:text="'('+ *{getPostDate()} + ')'" ></span>
                </p>
            </div>
            <!-- Post views, good -->
            <div class="three wide column">
                <div class="two wide column">
                    <div class="ui mini horizontal statistics" style="margin: -30px 0px -22px 0px;">
                        <div class="statistic" style="margin-bottom: -10px">
                            <div class="value" th:text="*{getPostViews()}"></div>
                            <div class="label" th:text="Views"></div>
                        </div>
                        <div class="statistic" style="margin-bottom: -10px">
                            <div class="value" th:text="*{getPostGood()}"></div>
                            <div class="label" th:text="Good"></div>
                        </div>
                        <div class="statistic">
                            <div class="value" th:text="${postCommentCount}"></div>
                            <div class="label" th:text="Comment"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div style="min-height: 300px" th:text="*{getPostContent()}">
            <!-- Post Content -->

        </div>
        <div class="ui buttons" style="float: left;margin: auto">
            <button class="circular ui icon red button"><i class="thumbs up outline icon"></i></button>
        </div>
        <div class="ui buttons" style="float: right;">
            <th:block th:if="${userNik} == ${pageNik}">
                <button class="ui blue button" th:text="수정"></button>
                <button class="ui blue button" th:text="삭제"></button>
                <button class="ui blue button" th:text="정보"></button>
            </th:block>
            <th:block th:if="${userNik} != ${pageNik}">
                <button class="ui blue button" th:text="요청"></button>
                <button class="ui blue button" th:text="정보"></button>
            </th:block>
        </div>
        <div class="ui divider"></div>
    </th:block>
    <!-- Posting Page End -->

    <!-- Post Comment -->
    <!--Comment view-->
    <th:block th:if="${comments} != null" th:each="comment : ${comments}">
        <div class="ui vertical segment" style="width: 900px;">
            <div><p th:text="${comment.getUserId()}">댓글이름</p></div><p style="color: #6e6e6e" th:text="${comment.getCommentDate()}"></p>
            <div th:text="${comment.getCommentContent()}">디자인 넘모 이브다</div>
        </div>
    </th:block>
    <!--<div class="ui vertical segment" style="width: 900px;">-->
    <!--<div><p>이승원</p></div><p style="color: #6e6e6e">2018-12-04 PM 11:33</p>-->
    <!--<div>섹스</div>-->
    <!--</div>-->

    <th:block th:if="${userNik} != 'guest'">
    <div class="ui inverted segment" style="width: 900px;">
        <!-- 덧글일 경우 덧글을 표시한다. -->
        <!--<div class="ui inverted vertical segment">
            덧글이 달릴 상대방의 덧글 표시
        </div>-->
        <!-- Guest 일 경우 댓글입력창 표시ㄴㄴ -->
            <div>댓글 입력<i class="level down alternate icon"></i></div>
            <div>
                <form class="ui form" style="margin-bottom:35px ">
                    <textarea placeholder="댓글을 입력해주세요." rows="2" style="resize: none"></textarea>
                    <input class="ui button" style="float: right; margin: 6px;" type="submit" value="등록">
                </form>
            </div>
    </div><!-- 덧글 입력창 end -->
    </th:block>



</div>
<script>
    $('.ui.sticky')
        .sticky({
            context: '#example1'
        })
    ;
</script>
</body>
</html>